@font-face {
	font-family: "Lato Regular";
	src: url("./assets/fonts/Lato-regular.ttf");
}

@font-face {
	font-family: "Lato Light";
	src: url("./assets/fonts/Lato-300.ttf");
}

@font-face {
	font-family: "Lato Bold";
	src: url("./assets/fonts/Lato-700.ttf");
}

@font-face {
	font-family: "Lato Black";
	src: url("./assets/fonts/Lato-900.ttf");
}