*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin: 0;
	padding: 0;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: inherit;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

p {
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	width: 1020px;
	margin: 0 auto;
}

header {
	position: relative;

	height: 89px;
	margin-bottom: 6px;	

	background-color: #2d303a;
}

header::after {
	content: '';

	position: absolute;
	bottom: -6px;
	left: 0px;

	width: 100%;
	height: 6px;

	background-color: #323746;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 100%;
	padding: 35px 40px;

	font-family: 'Lato Bold', Arial, sans-serif;
	color: #ffffff;

}

.header__logo {
	transform: translateY(14%);

	font-size: 25px;
	letter-spacing: -0.5px;
}

.header__logo > span {
	color: #f06c64;
}

.header__nav {
	letter-spacing: -0.2px;
	transform: translateY(10%);
}

.header__wrapper {
	display: flex;

	font-size: 12px;
}

.header__item {
	margin-left: 30px;	
	position: relative;
	transition: all 0.2s ease-in-out;
}

.header__item:hover {
	color: #f06c64;
}

.header__item--active {
	color: #f06c64;
}

.header__item:not(:first-child):before {
	content: '';
	position: absolute;
	top: 50%;
	left: -17px;
	
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #494e62;
}

.intro {
	position: relative;

	height: 594px;
	margin-bottom: 6px;	

	background-color: #f06c64;
}

.intro:after {
	content: '';

	position: absolute;
	bottom: -6px;
	left: 0px;

	width: 100%;
	height: 6px;

	background-color: #ea676b;
}

.intro__content {
	position: relative;
}

.intro__phones {
	position: relative;
}

.intro__vertical-phone {
	position: absolute;
	top: 53px;
	left: 112px;
}

.intro__horizontal-phone {
	position: absolute;
	top: 174px;
	right: 111px;
}

.arrow {
	position: absolute;
	top: 281px;
	cursor: pointer;
}

.arrow--left-arrow {
	left: 42px;
}

.arrow--right-arrow {
	right: 40px;
}

.services {
	position: relative;

	margin-bottom: 6px;
	height: 494px;

	background-color: #f2f2f2;
}

.services__content {
	padding: 67px 40px 0;
}

.services:after {
	content: '';

	position: absolute;
	bottom: -6px;
	left: 0px;

	width: 100%;
	height: 6px;

	background-color: #ffffff;
}

.services__title {
	margin-bottom: 27px;

	font-family: "Lato Black", Arial, sans-serif;
	font-size: 30px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #666d89;
}

.services__text {
	margin-bottom: 46px;

	font-family: "Lato Light", Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
}

.services__text span {
	letter-spacing: -0.25px;
	word-spacing: 2.95px;
}

.services__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.services__item {
	display: flex;
	align-items: flex-start;
	width: 300px;
	height: 123px;
}

.services__item-img {
	position: relative;
	width: 60px;
	height: 60px;
	margin-right: 20px;

	border: 2px solid #666d89;
	border-radius: 50%;
}

.services__item-img img {
	position: absolute;
	top: 13px;
	left: 13px;
}

.services__item-content {
	width: 220px;
}

.services__item-title {
	margin-bottom: 11px;

	font-family: "Lato Black", Arial, sans-serif;
	font-size: 18px;
	line-height: 16px;
	color: #666d89;
}

.services__item:first-child
.services__item-content
.services__item-title {
	letter-spacing: -0.1px;
}

.services__item:nth-child(2)
.services__item-content
.services__item-title {
	letter-spacing: -0.2px;
}

.services__item:nth-child(4)
.services__item-content
.services__item-title {
	letter-spacing: -0.1px;
}

.services__item:nth-child(5)
.services__item-content
.services__item-title {
	letter-spacing: -0.2px;
}

.services__item-text {
	font-family: "Lato Regular", Arial, sans-serif;
	font-size: 12px;
	color: #767e9e;
	word-spacing: 5px;
	line-height: 21px;
}

.services__item:nth-child(1)
.services__item-text {
	word-spacing: 5px;
}

.services__item:nth-child(1)
.services__item-text
span {
	letter-spacing: -0.1px;
	word-spacing: 1px;
}

.services__item:nth-child(2)
.services__item-text {
	word-spacing: 1.8px;
}

.services__item:nth-child(2)
.services__item-text
.second-item__first-span {
	letter-spacing: -0.07px;
  word-spacing: 7px;
}

.services__item:nth-child(2)
.services__item-text
.second-item__second-span {
  word-spacing: 0.5px;
}

.services__item:nth-child(2)
.services__item-img
img {
	top: 12px;
	left: 17px;
}

.services__item:nth-child(3)
.services__item-text {
	word-spacing: 0;
}

.services__item:nth-child(3)
.services__item-text
.third-item__first-span {
	letter-spacing: 0px;
  word-spacing: 2px;
}

.services__item:nth-child(3)
.services__item-text
.third-item__second-span {
  word-spacing: 0.5px;
}

.services__item:nth-child(3)
.services__item-img
img {
	top: 14px;
	left: 13px;
}

.services__item:nth-child(4)
.services__item-text {
	line-height: 22px;
	letter-spacing: 0.05px;
	word-spacing: 0;
}

.services__item:nth-child(4)
.services__item-text
.fourth-item__first-span {
	letter-spacing: 0px;
  word-spacing: 1px;
}

.services__item:nth-child(4)
.services__item-img
img {
	top: 13px;
	left: 18px;
}

.services__item:nth-child(5)
.services__item-text {
	line-height: 22px;
	word-spacing: 0.1px;
}

.services__item:nth-child(5)
.services__item-text
.fifth-item__first-span {
	letter-spacing: 0px;
  word-spacing: 3.5px;
}

.services__item:nth-child(5)
.services__item-img
img {
	top: 14px;
	left: 13px;
}

.services__item:nth-child(6)
.services__item-text {
	line-height: 22px;
	word-spacing: 0.1px;
}

.services__item:nth-child(6)
.services__item-text
.sixth-item__first-span {
	letter-spacing: 0px;
  word-spacing: 1.7px;
}

.services__item:nth-child(6)
.services__item-text
.sixth-item__second-span {
	letter-spacing: 0px;
	word-spacing: 7.4px;
}